.body_backgorund
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
  border-width:10px;
  background-color: rgb(240, 228, 228); 
  border-style: ridge;
  border-color: darkviolet;
  background-image:url(happyteachersday.jpg);
  background-position:center;
background-repeat: no-repeat;
width:600;
}

h1 {
    text-align: center;
}
.img {
  width: 600px;
}